div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Scumboard
    p.lead A scrumboard for scumbags

.container
  .row
    .col-md-4.column
      h2 Todo
      ul.tasks.todo(as-sortable="dragControlListeners", ng-model='tasks', data-status='todo')
        li(ng-repeat="task in tasks | filter: {status: 'todo'}", as-sortable-item)
          div(as-sortable-item-handle)
            include partials/detail

    .col-md-4.column
      h2 In progress
      ul.tasks.inprogress(as-sortable="dragControlListeners", ng-model='tasks', data-status='inprogress')
        li(ng-repeat="task in tasks | filter: {status: 'inprogress'}", as-sortable-item)
          div(as-sortable-item-handle)
            include partials/detail

    .col-md-4.column
      h2 Done
      ul.tasks.done(as-sortable="dragControlListeners", ng-model='tasks', data-status='done')
        li(ng-repeat="task in tasks | filter: {status: 'done'}", as-sortable-item)
          div(as-sortable-item-handle)
            include partials/detail

  h2 Add task
  form.form-horizontal
    .form-group
      label.col-sm-2.control-label(for='addTaskName') Name
      .col-sm-10
        input#addTaskName.form-control(type='text', placeholder='Name', ng-model='newTask.name')
    .form-group
      label.col-sm-2.control-label(for='addTaskName') Description
      .col-sm-10
        textarea#addTaskDescription.form-control(placeholder='Description', ng-model='newTask.description')
    .form-group
      label.col-sm-2.control-label(for='addTaskOwner') Owner
      .col-sm-10
        input#addTaskOwner.form-control(type='text', placeholder='Owner', ng-model='newTask.owner')
    .form-group
      label.col-sm-2.control-label(for='addTaskCost') Cost
      .col-sm-10
        select#addTaskCost.form-control(placeholder='Cost', ng-model='newTask.cost')
          option 1
          option 2
          option 3
          option 5
          option 8
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-primary(type='submit', ng-click='addTask()') Add

include ../footer
