div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Scumboard
    p.lead A scrumboard for scumbags

.container
  .row
    .col-md-4
      h3 Work in progress
      ul.tasks.todo
        li(ng-repeat="task in tasks | filter: {status: 'todo'}")
          h4 {{task.name}}
          p {{task.description}}
          p Cost: {{task.cost}}
          p Owner: {{task.owner}}
          button.close(type='button', ng-click='deleteTask(task)')

    .col-md-4
      h3 Work in progress
      ul.tasks.inprogress
        li(ng-repeat="task in tasks | filter: {status: 'inprogress'}")
          h4 {{task.name}}
          p {{task.description}}
          p Cost: {{task.cost}}
          p Owner: {{task.owner}}
            button.close(type='button', ng-click='deleteTask(task)') ×

    .col-md-4
      h3 Done
      ul.tasks.done
        li(ng-repeat="task in tasks | filter: {status: 'done'}")
          h4 {{task.name}}
          p {{task.description}}
          p Cost: {{task.cost}}
          p Owner: {{task.owner}}
            button.close(type='button', ng-click='deleteTask(task)') ×

  h2 Add task
  .row
    .col-lg-12
      form.thing-form
        p.input-group
          input.form-control(type='text', placeholder='Task name', ng-model='newTask.name')
          textarea.form-control(placeholder='Description', ng-model='newTask.description')
          span.input-group-btn
            button.btn.btn-primary(type='submit', ng-click='addTask()') Add New
